{% extends 'Public/PublicLayout.html.twig' %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
{% endblock %}

{% block insertionLayout %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="row">

                    {% for product in products %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset('upload/' ~ product.image) }}" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">{{ product.price|default('0')}} €</h4>
                                    <h4><a href="#">{{ product.title|default('pas de titre')|upper }}</a>
                                    </h4>
                                    <p>{{ product.description|slice(0, 50) }}[...]</p>
                                    <a href="{{ path('public_show_product', {id:product.id}) }}"><button class="btn btn-success ">Voir le produit</button></a>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 vues</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Vous aimez nos instruments?</a>
                        </h4>
                        <p>Venez nous voir à notre magasin !</p>
                        <a class="btn btn-primary" target="_blank" href="#">Nous trouver</a>
                    </div>

                </div>

                <ul class="pagination">
                    {% for i in 1..nbpage %}
                        <li {% if i == app.request.query.get('page', 1) %}class="active"{% endif %}><a href="{{ path('public_product', {page:i}) }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>

            </div>

        </div>

    </div>
    <!-- /.container -->



{% endblock %}

