{% extends 'Public/PublicLayout.html.twig' %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("public/css/shop-item.css") }}" rel="stylesheet">
{% endblock %}

{% block insertionLayout %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="{{ asset('upload/' ~ product.image) }}" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{ product.price }} €</h4>
                    <h4><a href="#">{{ product.title|default('Pas de titre') }}</a>
                    </h4>
                    <input type="number" placeholder="quantity"  value="1" min="1" max="99" class="pull-right quantity">
                    <button class="ajouter pull-right btn btn-success" data-id="{{product.id}}">Ajouter au Panier</button>
                    <p>{{ product.description|default('No description') }}</p>
                    </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="flashbagReplace">
            </div>
            
            <div>




            {% for comment in comments %}
                <div class="well">
                    <h4>{{ comment.title }} €</h4>
                    <h5>{{ comment.author }} €</h5>
                    <p>{{ comment.comment|default('No description') }}</p>
                    </div>
            {% endfor %}

                <hr>

                {{ form_start(formComment, {attr:{"novalidate":"novalidate"}}) }}

                {# Affichage du message de success	#}



                <div>
                    {{ form_errors(formComment.title) }}
                    {{ form_label(formComment.title, "Titre", {label_attr: {class: 'Titre'} } ) }}
                    {{ form_widget(formComment.title,
                    {
                        attr: {
                        placeholder: 'Titre',
                        class: "form-control",
                    }
                    })
                    }}
                </div>

                <div>
                    {{ form_errors(formComment.comment) }}
                    {{ form_label(formComment.comment, "comment", {label_attr: {class: 'comment'} } ) }}
                    {{ form_widget(formComment.comment,
                    {
                        attr: {
                        placeholder: 'Votre comment',
                        class: "form-control",

                    }
                    })
                    }}
                </div>

                <div>
                    {{ form_errors(formComment.author) }}
                    {{ form_label(formComment.author, "author", {label_attr: {class: 'author'} } ) }}
                    {{ form_widget(formComment.author,
                    {
                        attr: {
                        placeholder: 'Auteur',
                        class: "form-control",
                    }
                    })
                    }}
                </div>

                <div>
                    {{ form_errors(formComment.note) }}
                    {{ form_label(formComment.note, "note", {label_attr: {class: 'note'} } ) }}
                    {{ form_widget(formComment.note,
                    {
                        attr: {
                        placeholder: 'Note',
                        class: "form-control",
                    }
                    })
                    }}
                </div>

                <div class="text-right">
                    <button class="btn btn-success">Ajouter un commentaire</button>
                </div>
                {{ form_end(formComment) }}





            </div>

            {% if nbpage !=1 or nbpage !=0%}
            <ul class="pagination">
                {% for i in 1..nbpage %}
                    <li {% if i == app.request.query.get('page', 1) %}class="active"{% endif %}><a href="{{ path('public_show_product', {id:product.id, page:i}) }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>

    </div>

</div>
<!-- /.container -->
{% endblock %}
