
{% extends 'layout.html.twig' %}

{% block start %}

    {{ form_start(formProduct, {attr:{"novalidate":"novalidate"}}) }}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div>
        {{ form_errors(formProduct.titleFR) }}
        {{ form_label(formProduct.titleFR, "Titre", {label_attr: {class: 'Titre'} } ) }}
        {{ form_widget(formProduct.titleFR,
        {
            attr: {
            placeholder: 'Titre',
            class: "form-control",
        }
        })
        }}
    </div>
    <div>
        {{ form_errors(formProduct.titleEN) }}
        {{ form_label(formProduct.titleEN, "Title", {label_attr: {class: 'Title'} } ) }}
        {{ form_widget(formProduct.titleEN,
        {
            attr: {
            placeholder: 'Title',
            class: "form-control",
        }
        })
        }}
    </div>

    <div>
        {{ form_errors(formProduct.descriptionFR) }}
        {{ form_label(formProduct.descriptionFR, "Votre description", {label_attr: {class: 'description'} } ) }}
        {{ form_widget(formProduct.descriptionFR,
        {
            attr: {
            placeholder: 'Votre description',
            class: "form-control",

        }
        })
        }}
    </div>
    <div>
        {{ form_errors(formProduct.descriptionEN) }}
        {{ form_label(formProduct.descriptionEN, "Your description", {label_attr: {class: 'description'} } ) }}
        {{ form_widget(formProduct.descriptionEN,
        {
            attr: {
            placeholder: 'Your description',
            class: "form-control",

        }
        })
        }}
    </div>

    <div>
        {{ form_errors(formProduct.price) }}
        {{ form_label(formProduct.price, "Prix", {label_attr: {class: 'Prix'} } ) }}
        {{ form_widget(formProduct.price,
        {
            attr: {
            placeholder: 'Prix',
            class: "form-control",
        }
        })
        }}
    </div>

    <div>
        {{ form_errors(formProduct.quantity) }}
        {{ form_label(formProduct.quantity, "Quantité", {label_attr: {class: 'quantite'} } ) }}
        {{ form_widget(formProduct.quantity,
        {
            attr: {
            placeholder: 'Quantité',
            class: "form-control",
        }
        })
        }}
    </div>

    <div>
        {{ form_errors(formProduct.brand) }}
        {{ form_label(formProduct.brand, "Marque", {label_attr: {class: 'Marque'} } ) }}
        {{ form_widget(formProduct.brand,
        {
            attr: {
            placeholder: 'Marque',
            class: "form-control",
        }
        })
        }}
    </div>

    <div>
        {{ form_errors(formProduct.categories) }}
        {{ form_label(formProduct.categories, "Categories", {label_attr: {class: 'categories'} } ) }}
        {{ form_widget(formProduct.categories,
        {
            attr: {
            placeholder: 'Categories',
            class: "form-control",
        }
        })
        }}
    </div>

    <div>
        {{ form_errors(formProduct.image) }}
        {{ form_label(formProduct.image, "Image", {label_attr: {class: 'Image'} } ) }}
        {{ form_widget(formProduct.image,
        {
            attr: {
            placeholder: 'Image',
            class: "form-control",
        }
        })
        }}
    </div>

    <button>Ajouter</button>

    {{ form_end(formProduct) }}

{% endblock %}