{% extends 'layout.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}


{% block start %}
    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

            <div class="box box-body">

              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre FR</th>
                    <th>Titre EN</th>
                    <th>Description FR</th>
                    <th>Description EN</th>
                    <th>Prix</th>
                    <th>Marque</th>
                    <th>Categories</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                  <tr>
                        <td><input type="checkbox" name="allCheckBox"/></td>
                        <td> {{ product.titleFR|default('pas de titre')|upper }}</td>
                        <td> {{ product.titleEN|default('No title')|upper }}</td>

                      <td> {{ product.descriptionFR|default('Pas de description') }}</td>
                      <td> {{ product.descriptionEN|default('No description') }}</td>

                      <!--<td> {#{{ product.date_created|date("m/d/Y") }}#}</td>-->
                        <td> {{ product.price|default('0')}}</td>
                      <td> {{ product.brand.title }}</td>
                      <td>
                          <ul>
                              {% for category in product.categories %}
                              <li>{{ category.title }}</li>
                              {% endfor %}
                          </ul>
                      <td> {{ product.dateUpdate|date("m/d/Y")}}</td>
                      <td><img src="{{ asset('upload/' ~ product.image) }}" alt="" width="100"><div class="delete_img">Supprimer</div></td>
                      </td>


                      <td>
                        <a href="{{ path('show_product', {id:product.id}) }}"><button class="btn btn-success ">Check</button></a>
                        <a href="{{ path('product_edit', {id:product.id}) }}"><button class="btn btn-warning ">Edit</button></a>
                        <a href="{{ path('product_remove', {id:product.id}) }}"><button class="btn btn-danger ">Delete</button></a>
                    </td>

                  </tr>


                {% endfor %}

                <h3>Moyenne des prix: {{ moyenne }}</h3>
                <h3>Prix le plus bas: {{ prix_mini }}</h3>

                
                </tbody>

              </table>
                <a href="{{ path('product_create') }}"><button class="btn btn-success ">Create a product</button></a>

                <a href="{{ path('product_removeMany') }}"><button class="btn btn-danger deleteMany">Delete All</button></a>
                {#{{ ma_fonction('back')|raw }}#}
            </div>

    {% endblock %}


{% block js %}

    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock %}


