{% extends 'Public/PublicLayout.html.twig' %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
{% endblock %}

{% block insertionLayout %}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}



                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            {% for i in 0..2 %}
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
                                </ol>
                            {% endfor %}

                            <div class="carousel-inner">
                                {% for key,product in produitLesPlusEnStock|slice(0, 3) %}
                                    {#<div class="item {% if key == 0 %}active{% endif %}">#}
                                    <div class="item {% if loop.first %}active{% endif %}">
                                        <img class="slide-image" src="{{ asset('upload/' ~ product.image) }}" alt="">
                                    </div>
                                {% endfor %}

                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    {% for product in products|slice(0, 5) %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset('upload/' ~ product.image) }}" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">{{ product.price|default('0')}}</h4>
                                    <h4><a href="#">{% set locale = app.request.locale %}{{ attribute(product, 'title' ~locale)|default('pas de titre')|upper }}</a>
                                    </h4>
                                    <p> {{ attribute(product, 'description' ~locale)|default('Pas de description')|slice(0, 50) }}[...]</p>
                                    <a href="{{ path('public_show_product', {id:product.id}) }}"><button class="btn btn-success ">Voir le produit</button></a>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 vues</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Vous aimez nos instruments?</a>
                        </h4>
                        <p>Venez nous voir à notre magasin !</p>
                        <a class="btn btn-primary" target="_blank" href="#">Nous trouver</a>
                    </div>

                </div>





{% endblock %}

