{% extends 'Public/PublicLayout.html.twig' %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
{% endblock %}

{% block insertionLayout %}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h2>Vos articles:</h2>

        <div class="col-sm-8 col-lg-8 col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Prix Qte</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td><img src="{{ asset('upload/' ~ product.image) }}" width="200px" alt=""></td>
                        <td><a href="{{ path('public_show_product', {id:product.id}) }}">{{ product.titleFR|default('pas de titre')|upper }}</a></td>
                        <td><input type="number" class="target" min="0" data-id="{{product.id}}"  value="{{ app.session.get('panier')[product.id] }}"></td>
                        <td> {{ product.price}}</td>
                        <td class="PrixQte"> {{ product.price*app.session.get('panier')[product.id] }}</td>
                        <td>
                            <a href="{{ path('product_remove', {id:product.id}) }}"><button class="btn btn-danger deleteFromPanier" data-id="{{product.id}}">Supprimer</button></a></td>
                    </tr>


                {% endfor %}

                </tbody>
                <tfoot>
                    <td></td>
                    <td>TOTAL</td>
                <td class="Total">
                    {% set total = 0  %}
                    {% for product in products %}
                         {% set total = total + product.price*app.session.get('panier')[product.id] %}
                    {% endfor %}
                    {{ total }}
                </td>
                <td></td>
                <td><a href="#"><button class="btn btn-success ">Passer la commande</button></a></td>
                </tfoot>
            </table>
        </div>

{% endblock %}