{% extends 'Public/PublicLayout.html.twig' %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
{% endblock %}

{% block insertionLayout %}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h2>Vos articles:</h2>

    {% for product in products %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="{{ asset('upload/' ~ product.image) }}" alt="">
                <div class="caption">
                    <h4 class="pull-right">{{ product.price|default('0')}} €</h4>
                    <h4><a href="#">{{ product.titleFR|default('pas de titre')|upper }}</a>
                    </h4>
                    <p>{{ product.descriptionFR|slice(0, 50) }}[...]</p>
                    <a href="{{ path('public_show_product', {id:product.id}) }}"><button class="btn btn-success ">Voir le produit</button></a>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 vues</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}