{% extends 'layout.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block start %}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

            <div class="box box-body">


                <table id="example1" class="table table-bordered table-striped">
                    <a href="{{ path('categorie_create') }}"><button class="btn btn-success ">Créer une catégorie</button></a>

                    <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                  <tr>
                        <td> {{ categorie.id }}</td>
                        <td> {{ categorie.title|default('Pas de titre')|upper }}</td>
                        <td> {{ categorie.description|raw|nl2br|slice(0, 30) }} ({{ categorie.description|striptags|length }} caractères)</td>
                      <td>
                        <a href="{{ path('show_categorie', {id:categorie.id}) }}"><button class="btn btn-success ">Show</button></a>
                          <a href="{{ path('categorie_edit', {id:categorie.id}) }}"><button class="btn btn-warning ">Edit</button></a>
                          <a href="{{ path('categorie_remove', {id:categorie.id}) }}"><button class="btn btn-danger ">Delete</button></a>
                    </td>

                  </tr>

                {% endfor %}
                <h3>Nombre de catégories {{ categories|length }}</h3>
                
                </tbody>

              </table>
            </div>

    {% endblock %}


{% block js %}

    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock %}


